<nav>
  <a id="logo" class="nav-link" href="<%= root_path %>"><h1>User Auth</h1></a>
  <%= signup_link %> |
  <%= signin_link %> |
  <%= edituser_link %> |
  <%= signout_link %> |
  <a id="about" class="nav-link" href="#">About Me</a>
</nav>